/* Write your CSS here */
.item-container {
  display: flex;
  margin-right: 20px;
}

.image {
  height: 60px;
  width: 60px;
}

.items-container {
  display: flex;
}

.money-details-container {
  display: flex;
}
